pkgbase = python-certifi
	pkgdesc = Python package for providing Mozilla's CA Bundle (using system CA store)
	pkgver = 2024.02.02
	pkgrel = 2
	url = https://github.com/certifi/python-certifi
	arch = any
	license = MPL-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = ca-certificates
	depends = python
	source = https://github.com/certifi/python-certifi/archive/2024.02.02/python-certifi-2024.02.02.tar.gz
	sha512sums = e62f1741fd9bb10a976f5e864a4946f00e1df1b92082e66fe146ee3275036c365d1e98ed023614a1da07ab2a7a58bc333c77c71586ea50a992eb7d5b54a515e5
	b2sums = d1d616a6c7b878a6caf891b773b8c606a139ded8787b01701ae3e7c0e46c8fb8e78944f356a5b7c0ae17bacc5a5e358a4c2eeaafcf4fc5795edbeb95bf9761dd

pkgname = python-certifi
