pkgbase = python-certifi
	pkgdesc = Python package for providing Mozilla's CA Bundle (using system CA store)
	pkgver = 2023.11.17
	pkgrel = 1
	url = https://github.com/certifi/python-certifi
	arch = any
	license = MPL-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = ca-certificates
	depends = python
	source = https://github.com/certifi/python-certifi/archive/2023.11.17/python-certifi-2023.11.17.tar.gz
	sha512sums = 873eb3a34c5061f164484eec5bc659d4869882c96477395eec7d9d52242a033f9d82d293b07bcb094d04e62dc9af8a65caf2385a1a2a78c7058252af1b3d715b
	b2sums = a345c20c4aa46c7913173c9ae1e6595155a6c339e3b5c0a7b1c9e93c8af06a2706b8d94cb078e2cd0d7ae034621bc8f36f3e847ead68313c7db3967614e9dc6f

pkgname = python-certifi
